@import '../../styles/Variables';

.dropdown {
    width: 100%;
    max-width: 70vw;
    margin: 20px auto;

    @media (max-width: 599px) {
        max-width: 80vw;
    }

    &__header {
        position: relative;
        background-color: $main-color;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 2;
    }

    &__title {
        color: $secondary-color;
        font-size: 20px;
        font-weight: 600;
    }

    &__arrow {
        position: absolute;
        top: 18px;
        right: 18px;
        display: block;
        width: auto;
        height: auto;
        transition: transform 0.3s ease-in-out; // Ajoute une animation fluide à la rotation
        &:hover {
            cursor: pointer;
        }
    }

    //Lorsque le collapse est ouvert, la flèche tourne de 180° de façon fluide avec transition déclarée dans __arrow
    &--open &__arrow {
        transform: rotate(-180deg); //Le - ici sert uniquement à être raccord avec le figma.
    }

    &__content {
        background-color: $background-color;
        padding: 0 20px;
        margin-top: 0;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        z-index: 1;
        //À partir de la les propriété sont à prendre en compte dans l'animation
        opacity: 0; //Le contenu est invisible par défaut, rend l'animation plus fluide
        max-height: 0; //Empêche l'espacement prévu par le contenu en limitant sa hauteur à 0
        transform: translateY(-30%); //Décale le contenu vers le haut pour un effet de slide down au moment de l'animation 
        transition: all 0.2s ease-in-out ; //Ajoute une animation fluide sur les éléménets ci-dessus

        &--list {
            list-style: none;
        }
    }

    //Lorsque le collapse est ouvert, l'animation se joue de manière fluide sur les propriétés suivantes:
    &--open {
        .dropdown__content {
            opacity: 1; //Le contenu apparait progressivement
            max-height: 500px; //Ajuste la hauteur por révéler le contenu
            transform: translateY(0); //Remet le contenu à sa place normale, comme si il desscendait du collapse.
        } 
    }
}