.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 225px;
    overflow: hidden;
    &__image {
        width: 92%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.5);
    }
    &__title {
        position:absolute;
        color: white;
    }
}