@import "Variables";

.card {
    width: 340px;
    height: 340px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;

    @media (max-width: 599px) {
        min-width: 80vw;
        margin: 15px;
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title{
        color: white;
        background-color: $main-color;
        border-radius: 0 10px 10px 0;
        position: absolute;
        max-width: 250px;
        padding: 2px 10px 2px 10px;
    }
}