@import "Variables";

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: $background-color;
    margin: 30px auto;
    width: 92%;
    border-radius: 20px;
}