.rate {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;

    @media (max-width: 599px) {
        margin-right: 10px;
    }

    &__star {
        @media (max-width: 599px) {
            max-width: 20%;
        } 
    }
}