@import "../../styles/Variables";

.header {
    @include general-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 20px;

    &__logo {
        max-height: 68px;

        @media (max-width: 599px) {
            max-height: 46px;
        }
    }

    &__navbar {
        display: flex;
        gap: 50px;

        @media (max-width: 599px) {
            gap: 20px;
        }

        &__link {
            color: $alternate-background-color;
            text-decoration: none;
            font-size: 23px;
            font-weight: 500;

            &.active {
                text-decoration: underline;
            }

            @media (max-width: 599px) {
                font-size: 17px;
                text-transform: uppercase;
            }
            
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}