@import "../../styles/Variables";

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 70px;
    gap: 60px;

    @media (max-width: 599px) {
        margin-top: 180px;
        margin-bottom: 180px;
    }

    &__image {
        max-width: 600px;

        @media (max-width: 599px) {
            max-width: 200px;
        }
    }

    &__message {
        color: $main-color;
        font-weight: 500;

        @media (max-width: 599px) {
            font-size: 20px;
            text-align: center;
        }
    }

    &__link {
        color: $alternate-background-color;
    }
}